@{
    ViewData["Title"] = "Home Page";
    var baseUrl = Configuration["AuthConfig:ClientUrl"]?.TrimEnd('/');
    var clientUrl = $"{baseUrl}/app";
    
    if (string.IsNullOrEmpty(baseUrl))
    {
        clientUrl = "https://ledgereleven.com/app";
    }
}

<div class="text-center">
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <h1>Welcome, @User.Identity.Name!</h1>
        <a href="@clientUrl" class="w-20 mt-5 btn btn-lg btn-primary">Open the Ledger</a>
    }
    else
    {
        <h1>Welcome!</h1>
        <p>You are not logged in.</p>
        <a class="w-20 mt-5 btn btn-lg btn-primary" id="login-button" asp-area="Identity" asp-page="/Account/Login">Login</a>
    }
</div>