@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <h1>Welcome, @User.Identity.Name!</h1>
        <a href="/app" class="w-20 mt-5 btn btn-lg btn-primary">Open the Ledger</a>
    }
    else
    {
        <h1>Welcome!</h1>
        <p>You are not logged in.</p>
        <a class="w-20 mt-5 btn btn-lg btn-primary" id="login" href="https://auth.ledgereleven.com/Identity/Account/Login">Login</a>
    }
</div>
